<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
    <a href="?view=create" class="btn btn-info">Thêm khóa học</a>
</div>
<div class="container mb-5 bg-white">
    <table id="example" class="table p-5 text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>Ảnh</th>
            <th>Tên khóa học</th>
            <th>Giá khóa học</th>
            <th>Danh mục</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>