body {
    margin: 0;
    padding: 0;
    font-family: 'Lemonada';
}
/* max-width:600px */
@media (max-width:600px) {
    .form-login>form>.btn {
        background: transparent;
        border: 0;
        margin-left: 65%;
        color: #fff;
    }
    .form-login{
        background: cornflowerblue;
        height: 30px;
        line-height: 30px;
    }
    .banner>img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .day-time-mar{
        width: 80%;
        z-index: 0;
        position: relative;
        margin: 0px auto;
        background: transparent;
    }
    .day-time-mar>marquee{
        width: 100%;
    }
    /* nav */
    .menu {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: small;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu > ul > li:hover > ul {
        display: block;
    }
    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: small;
        padding: 0 10px;
    }
    .menu ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* menu2 */
    .menu2 {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu2 > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu2 > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: small;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu2 > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu2 > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu2 ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu2 > ul > li:hover > ul {
        display: block;
    }
    .menu2 ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: small;
        padding: 0 10px;
    }
    .menu2 ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* footer */
    footer{
        clear: both;
    }
    .contact {
        text-align: center;
        height: 100px;
    }
    .contact > h2 {
        font-size: medium;
    }
    article {
        width: 64%;
        border: 1px solid black;
        height: auto;
        margin-left: 26%;
    }
    article >.title-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: cornflowerblue;
    }
    article >.title-header > p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    /* ==> aside 2 <== */
    aside {
        margin-left: 10%;
        width: 15%;
        float: left;
        background-color: whitesmoke;
        height: 1300px;
        margin-top: -8px;
    }
    .vmenu {
        margin-left: 5%;
        width: 90%;
        box-shadow: 0 0 3px gray;
    }
    .vmenu ul {
        margin: 0;
        padding: 0;
    }
    .vmenu ul li {
        list-style: none;
    }
    .vmenu a {
        display: block;
        border-bottom: 1px dotted black;
        color: black;
        text-decoration: none;
        padding: 25px 0px 8px 0px;
        text-align: center;
        font-size: 10px;
    }
    .vmenu a:hover {
        border-bottom: 1px dotted white;
        background-color: cornflowerblue;
        color: white;
    }
}
















/* min-width:600px and max-width:768px */
@media (min-width:600px) and (max-width:768px){
    .form-login>form>.btn {
        background: transparent;
        border: 0;
        margin-left: 85%;
        color: #fff;
    }
    .form-login{
        background: cornflowerblue;
        height: 30px;
        line-height: 30px;
    }
    .banner>img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .day-time-mar{
        width: 80%;
        z-index: 0;
        position: relative;
        margin: 0px auto;
        background: transparent;
    }
    .day-time-mar>marquee{
        width: 50%;
        position: absolute;
        left: 250px;
        top: 0px;    
    }
    /* nav */
    .menu {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu > ul > li:hover > ul {
        display: block;
    }
    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* menu2 */
    .menu2 {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu2 > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu2 > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu2 > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu2 > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu2 ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu2 > ul > li:hover > ul {
        display: block;
    }
    .menu2 ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu2 ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* footer */
    footer{
        clear: both;
    }
    .contact {
        text-align: center;
        height: 100px;
    }
    article {
        width: 64%;
        border: 1px solid black;
        height: auto;
        margin-left: 26%;
    }
    article >.title-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: cornflowerblue;
    }
    article >.title-header > p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    /* ==> aside 2 <== */
    aside {
        margin-left: 10%;
        width: 15%;
        float: left;
        background-color: whitesmoke;
        height: 825px;
        margin-top: -8px;
    }
    .vmenu {
        margin-left: 5%;
        width: 90%;
        box-shadow: 0 0 3px gray;
    }
    .vmenu ul {
        margin: 0;
        padding: 0;
    }
    .vmenu ul li {
        list-style: none;
    }
    .vmenu a {
        display: block;
        border-bottom: 1px dotted black;
        color: black;
        text-decoration: none;
        padding: 25px 0px 8px 0px;
        text-align: center;
    }
    .vmenu a:hover {
        border-bottom: 1px dotted white;
        background-color: cornflowerblue;
        color: white;
    }
}



























/* min-width:768px and max-width:992px */
@media (min-width:768px) and (max-width:992px){
    .form-login>form>.btn {
        background: transparent;
        border: 0;
        margin-left: 85%;
        color: #fff;
    }
    .form-login{
        background: cornflowerblue;
        height: 30px;
        line-height: 30px;
    }
    .banner>img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .day-time-mar{
        width: 80%;
        z-index: 0;
        position: relative;
        margin: 0px auto;
        background: transparent;
    }
    .day-time-mar>marquee{
        width: 50%;
        position: absolute;
        left: 250px;
        top: 0px;    
    }
    /* nav */
    .menu {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu > ul > li:hover > ul {
        display: block;
    }
    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* menu2 */
    .menu2 {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu2 > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu2 > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu2 > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu2 > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu2 ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu2 > ul > li:hover > ul {
        display: block;
    }
    .menu2 ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu2 ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* footer */
    footer{
        clear: both;
    }
    .contact {
        text-align: center;
        height: 100px;
    }
    article {
        width: 64%;
        border: 1px solid black;
        height: auto;
        margin-left: 26%;
    }
    article >.title-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: cornflowerblue;
    }
    article >.title-header > p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    /* ==> aside 2 <== */
    aside {
        margin-left: 10%;
        width: 15%;
        float: left;
        background-color: whitesmoke;
        height: 680px;
        margin-top: -8px;
    }
    .vmenu {
        margin-left: 5%;
        width: 90%;
        box-shadow: 0 0 3px gray;
    }
    .vmenu ul {
        margin: 0;
        padding: 0;
    }
    .vmenu ul li {
        list-style: none;
    }
    .vmenu a {
        display: block;
        border-bottom: 1px dotted black;
        color: black;
        text-decoration: none;
        padding: 25px 0px 8px 0px;
        text-align: center;
    }
    .vmenu a:hover {
        border-bottom: 1px dotted white;
        background-color: cornflowerblue;
        color: white;
    }
}
























/* min-width: 992px and max-width:1200px*/
@media (min-width:992px) and (max-width: 1200px){
    .form-login>form>.btn {
        background: transparent;
        border: 0;
        margin-left: 85%;
        color: #fff;
    }
    .form-login{
        background: cornflowerblue;
        height: 30px;
        line-height: 30px;
    }
    .banner>img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .day-time-mar{
        width: 80%;
        z-index: 0;
        position: relative;
        margin: 0px auto;
        background: transparent;
    }
    .day-time-mar>marquee{
        width: 65%;
        position: absolute;
        left: 250px;
        top: 0px;    
    }
    /* nav */
    .menu {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu > ul > li:hover > ul {
        display: block;
    }
    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* menu2 */
    .menu2 {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu2 > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu2 > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu2 > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu2 > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu2 ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu2 > ul > li:hover > ul {
        display: block;
    }
    .menu2 ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu2 ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* footer */
    footer{
        clear: both;
    }
    .contact {
        text-align: center;
        height: 100px;
    }
    article {
        width: 64%;
        border: 1px solid black;
        height: auto;
        margin-left: 26%;
    }
    article >.title-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: cornflowerblue;
    }
    article >.title-header > p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    /* ==> aside 2 <== */
    aside {
        margin-left: 10%;
        width: 15%;
        float: left;
        background-color: whitesmoke;
        height: 580px;
        margin-top: -8px;
    }
    .vmenu {
        margin-left: 5%;
        width: 90%;
        box-shadow: 0 0 3px gray;
    }
    .vmenu ul {
        margin: 0;
        padding: 0;
    }
    .vmenu ul li {
        list-style: none;
    }
    .vmenu a {
        display: block;
        border-bottom: 1px dotted black;
        color: black;
        text-decoration: none;
        padding: 25px 0px 8px 0px;
        text-align: center;
    }
    .vmenu a:hover {
        border-bottom: 1px dotted white;
        background-color: cornflowerblue;
        color: white;
    }
}


































/* min-width: 1200px  */
@media (min-width: 1200px){
    .form-login>form>.btn {
        background: transparent;
        border: 0;
        margin-left: 85%;
        color: #fff;
    }
    .form-login{
        background: cornflowerblue;
        height: 30px;
        line-height: 30px;
    }
    .banner>img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .day-time-mar{
        width: 80%;
        z-index: 0;
        position: relative;
        margin: 0px auto;
        background: transparent;
    }
    .day-time-mar>marquee{
        width: 70%;
        position: absolute;
        left: 350px;
        top: 0px;    
    }
    /* nav */
    .menu {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu > ul > li:hover > ul {
        display: block;
    }
    .menu ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* menu2 */
    .menu2 {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
    }
    .menu2 > ul > li {
        position: relative;
        display: inline-block;
    }
    .menu2 > ul > li > a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: large;
        color: white;
        padding: 0 20px 0 20px;
        line-height: 40px;
    }
    .menu2 > ul > li > a:hover{
       color: yellow;
       text-decoration: underline;
    }
    .menu2 > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 3px;
        background-color: cornflowerblue;
    }
    .menu2 ul ul {
        z-index: 1;
        position: absolute;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 1px gray;
        border-left: 1px solid cornflowerblue;
    }
    .menu2 > ul > li:hover > ul {
        display: block;
    }
    .menu2 ul ul a {
        display: block;
        line-height: 30px;
        color: #000;
        text-decoration: none;
        font-variant: small-caps;
        font-size: larger;
        padding: 0 10px;
    }
    .menu2 ul ul a:hover { 
        background-color: cornflowerblue;
        color: #fff;
    }
    /* footer */
    footer{
        clear: both;
    }
    .contact {
        text-align: center;
        height: 100px;
    }
    article {
        width: 64%;
        border: 1px solid black;
        height: 450px;
        margin-left: 26%;
    }
    article >.title-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: cornflowerblue;
    }
    article >.title-header > p {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
    }
    /* ==> aside 2 <== */
    aside {
        margin-left: 10%;
        width: 15%;
        float: left;
        background-color: whitesmoke;
        height: 500px;
        margin-top: -8px;
    }
    .vmenu {
        margin-left: 5%;
        width: 90%;
        box-shadow: 0 0 3px gray;
    }
    .vmenu ul {
        margin: 0;
        padding: 0;
    }
    .vmenu ul li {
        list-style: none;
    }
    .vmenu a {
        display: block;
        border-bottom: 1px dotted black;
        color: black;
        text-decoration: none;
        padding: 25px 0px 8px 0px;
        text-align: center;
    }
    .vmenu a:hover {
        border-bottom: 1px dotted white;
        background-color: cornflowerblue;
        color: white;
    }
}
