* {
  overflow: hidden;
}
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pinkboard {
  width: 160%;
  height: 160%;
}
#pinkboard2 {
  position: absolute;
  width: 90%;
  height: 90%;
  animation: scale 1.5s infinite;
}
@keyframes scale {
  25% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  75% {
    transform: scale(85%);
  }
  100% {
    transform: scale(100%);
  }
}