main {
    width: 100%;
}
.content_product_detail {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 96px;
}
.content_product_detail_left
,.content_product_detail_right {
    width: 620px;
    height: 410px;
}
.name_product_detail {
    width: 100%;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #111928;
}
.cost_product_detail {
    width: 79px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #F54748;
    margin-bottom: 30px;
    margin-top: 10px;
}
.decreption_product_detail {
    width: 100%;
    height: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #111928;
    margin-bottom: 32px;
}
.content_product_detail_right img {
    border-radius: 20px;
}
.option {
    width: 100%;
    height: auto;
    display: flex;
}
.quanti {
    width: 180px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.sl {
    height: 42px;
    padding: 9px 0px 9px 15px;
    border-radius: 10px;
}
.btn_cart {
    width: 110px;
    height: 42px;
    margin-left: 20px;
}
.btn_cart button {
    width: 110px;
    height: 42px;
    background: #111928;
    border-radius: 5px;
    color: #FFFFFF;
}
.btn_cart button:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.related_product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text {
    width: 202px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #111928;
    margin-top: 64px;
    margin-bottom: 32px;
}
.product_other {
    width: 400px;
    height: auto;
    margin-bottom: 96px;
}
.product_other a {
    color: #000;
    text-decoration: none;
}
.product_other a:hover 
,.product_other:hover a
{
    color: red;
}
.images_product_other{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}
.images_product_other img {
    width: 100%;
    border-radius: 20px;
}
.name_product_other {
    width: 100%;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #111928;
    margin-bottom: 12px;
}
.cost_product_other {
    width: 100%;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F54748;
    margin-bottom: 20px;
}
.addcart {
    width: 100%;
    height: 42px;
}
.addcart button {
    width: 100%;
    height: 42px;
    background: #111928;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.addcart button:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.product_other:hover > .images_product_other > img 
{
   transform:scale(0.9); transform:scale(0.9);
}
.images_product_other > img
{ 
    transition: all 0.7s ease;
}
@media (max-width:640px){
    .container {
        width: 90%;
        margin: 0px auto;
    }
    footer .logo_footer {
        margin-left: 20px;
    }
    .content_product_detail_left {
        height: auto;
        margin-bottom: 64px;
    }
    .name_product_detail
    ,.cost_product_detail
    ,.decreption_product_detail
    ,.content_product_detail_right
    ,.name_product_other
    ,.cost_product_other
    {
        height: auto;
    }
    .related_product {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product_other {
        width: 100%;
    }
}
@media (min-width:640px) and (max-width:768px){
    .content_product_detail_left
    ,.content_product_detail_right {
        width: 100%;
        height: 410px;
    }
    .related_product {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .product_other {
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .content_product_detail_left
    ,.content_product_detail_right {
        width: 100%;
        height: 410px;
    }
    .related_product {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .product_other {
        width: 100%;
    }
}    
@media (min-width:992px) and (max-width:1200px){
    .content_product_detail_left
    ,.content_product_detail_right {
        width: 100%;
        height: 410px;
    }
    .related_product {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .product_other {
        width: 100%;
    }
}
@media (min-width:1200px) and (max-width:1536px) {
    .content_product_detail_left
    ,.content_product_detail_right {
        width: 48%;
        height: 410px;
    }
    .related_product {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
    .product_other {
        width: 250px;
    }
    .name_product_detail
    ,.cost_product_detail
    ,.decreption_product_detail
    ,.content_product_detail_right
    ,.name_product_other
    ,.cost_product_other
    {
        height: auto;
    }
}
@media (min-width:1536px) {
    .content_product_detail_left
    ,.content_product_detail_right {
        width: 620px;
        height: 410px;
    }
}

